[profile.default]
evm_version = "cancun"
src = "src"
out = "out"
libs = ["lib"]
via_ir = true
optimizer_runs = 1_000


# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
